script.
  window.et = !{JSON.stringify(_global)}

- if (env === 'development')
  script.
    window.debug = function () {
      var args = Array.prototype.slice.call(arguments);
      if (window.et.env === 'development') return console.log.apply(null, args);
    }
- var tail = env !== 'development' ? '.production.min' : '.development'
script(src=cdn + '/_bc/moment/min/moment.min.js')
script(src=cdn + '/_bc/react/umd/react' + tail + '.js')
script(src=cdn + '/_bc/react-dom/umd/react-dom' + tail + '.js')
script(src=cdn + '/_bc/lodash/lodash.min.js')
script.
  window.et.onload = function() {
    document.body.removeChild(document.getElementById('content-loading'));
  };
  window.getGlobal = function(str) {
    try {
      return require('electron').remote.getGlobal('et')[str]
    } catch(e) {
      console.log(e.stack)
      return false
    }
  }
  window._require = function(modName) {
    try {
      return require(modName)
    } catch(e) {
      console.log(e.stack)
      return false
    }
  }
  window.lang = window.getGlobal('lang')

  /**
  * string translate
  * @param {string} id eg: 'menu.cut'
  */
  window.e = id => {
    return _.get(window.lang, id) || id
  }

  window.prefix = prefix => {
    return (id) => {
      return _.get(window.lang, `${prefix}.${id}`) || id
    }
  }