
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{siteName}
    style.
      body {
        background: #000;
      }
      #content-loading {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .electerm-logo-bg {
        background: transparent 50% 50% no-repeat url("./images/electerm-watermark.png");
      }
      .morph-shape {
        background: linear-gradient(45deg, #08c 0%, #09c 100%);
        animation: morph 8s ease-in-out infinite;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transition: all 1s ease-in-out;
        z-index: 5;
      }

    - if (!isDev)
      link(rel='stylesheet', href='css/' + version + '-basic.css')
      link(rel='stylesheet', href='css/' + version + '-electerm.css')
      style(id='theme-css').
      style(id='custom-css').
  body
    - if (isDev)
      style(id='theme-css').
      style(id='custom-css').
    #container
    #content-loading
      .morph-shape.iblock.pd3
        img.iblock.logo-filter(src='images/electerm.png', alt='', height=80)
    script.
      window.et = !{JSON.stringify(_global)}
    - var url = '/src/client/entry/basic.js'
    - if (isDev)
      //- script(src='/external/react.development.js?' + version)
      //- script(src='/external/react-dom.development.js?' + version)
      script(type='module').
        import RefreshRuntime from '/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      script(src='/@vite/client', type='module')
      script(src=url1, type='module')
      script(src=url, type='module')
    - else
      //- script(src='/external/react.production.min.js?' + version)
      //- script(src='/external/react-dom.production.min.js?' + version)
      - var url = src='/js/basic-' + version + '.js'
      script(src=url1, type='module')
      script(src=url, type='module')

